@{
    ViewBag.Title = "Basic";
}
@section head{
	<script type="text/javascript" src="/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/bootstrap/basic.css" />

	<script type="text/javascript">
	    var LocationHref = "/bootstrapcss/basic";
	</script>
}

<h2>Basic</h2>
