@{
    ViewBag.Title = "Grid";
}
@section head{
	<script type="text/javascript" src="/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/bootstrap/grid.css" />

	<script type="text/javascript">
		var LocationHref = "/bootstrapcss/grid";
	</script>
}

<h2>Grid</h2>
