@{
    ViewBag.Title = "Index";
}
@section head{
	<script type="text/javascript" src="/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/bootstrap/index.css" />

	<script type="text/javascript">
		var LocationHref = "/bootstrapcss/index";
	</script>
}

<h2>Index</h2>
