@{
    ViewBag.Title = "About";
}
@section head{
	<script type="text/javascript" src="/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/home/about.css" />

	<script type="text/javascript">
		var LocationHref = "/home/about";
	</script>
}

<h2>About</h2>
