@{
	ViewBag.Title = "Index";
}
@section head{
	<script type="text/javascript" src="/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/home/index.css" />

	<script type="text/javascript">
		var LocationHref = "/home/index";
	</script>
}

<h2>Index</h2>

@section scripts{
	<script type="text/javascript">
		$(function ()
		{

		});
	</script>
}